@model ToDoItem
@{
    ViewData["Title"] = "Nowe zadanie";
    Layout = "_Layout";
}
<div style="display: flex; align-self: center; justify-content: center; flex-direction: row; margin-top: 8%; min-width: 50%; min-height:50%">
    <fieldset class="border border-dark" style=" padding: 10px; display: flex; flex-direction: column; justify-items: center; place-items: center; align-self: center; display: flex">
        <legend style="margin: 5px;"><i>Formularz dodania nowego zadania</i></legend>
        @using (Html.BeginForm("AddItem", "ToDoItem", FormMethod.Post))
        {
            <table style=" margin-left:auto; margin-right:auto">
                <tr>
                    <td>@Html.TextBoxFor(x => x.Id, new { type = "hidden" })</td>
                </tr>
                <tr>
                    <td><b>@Html.Label("Nazwa")</b></td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(x => x.Name, new { type = "text", required = true, style = "min-width:350px" })</td>
                </tr>
                <tr>
                    <td><b>@Html.Label("Data")</b></td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(x => x.ExecutionTime, new { type = "datetime-local", required = true, style = "min-width:350px" })</td>
                </tr>
                <tr>
                    <td>@Html.TextBoxFor(x => x.IsCompleted, new { type = "hidden", value = false })</td>
                </tr>
            </table>
            <button style="background-color: dodgerblue; color: white; border-radius: 10px; border-color: aliceblue; font-size: 20px; min-width: 350px" type="submit">Zapisz zadanie</button>
        }
    </fieldset>
</div>
@if (ViewData["Message"] != null)
{
    <div class="alert alert-warning">
        <b><i>@ViewData["Message"]</i></b>
    </div>
}